In [2]:
import pandas as pd

In [4]:
cd /net/hawkins/vol1/arpit/STARR_seq_fastafiles/STARRseqdata/Th1_Failed_PairedendRUN_18June_2020/catfiles/d2_d3_r2_r3_mergedfastq

/net/hawkins/vol1/arpit/STARR_seq_fastafiles/STARRseqdata/Th1_Failed_PairedendRUN_18June_2020/catfiles/d2_d3_r2_r3_mergedfastq

In [5]:
df_th1 = pd.read_csv("dna_rnacount_Th1.csv", index_col=False)

In [7]:
df_th1.columns = ["number", "rsID_UMI", "DNArep1", "RNArep1", "DNArep2", "RNArep2", "DNArep3", "RNArep3"]

In [8]:
df2_th1 = df_th1[["rsID_UMI", "DNArep1", "DNArep2", "DNArep3", "RNArep1", "RNArep2", "RNArep3"]]

In [24]:
#df2_dropped = df2_th1.loc[df2_th1.values  ]
import numpy as np

In [10]:
df2_dropped = df2_th1[(df2_th1.DNArep1 >= 5) & (df2_th1.DNArep2 >= 5) & (df2_th1.DNArep3 >= 5) & (df2_th1.RNArep1 >= 1)& (df2_th1.RNArep2 >= 1) & (df2_th1.RNArep2 >= 1)]
# all rows less than 5 dropped

In [15]:
df2_dropped.shape

(7780, 7)

In [12]:
df2_dropped.to_csv("rs_filtercountDNAgrt5_RNAgrt1_formpranalyze.csv")

In [16]:
dnacount = df2_dropped[["rsID_UMI", "DNArep1", "DNArep2", "DNArep3"]]
rnacount = df2_dropped[["rsID_UMI", "RNArep1", "RNArep2", "RNArep3"]]

In [18]:
dnacount_rep1 = dnacount[["rsID_UMI","DNArep1"]]
dnacount_rep2 = dnacount[["rsID_UMI","DNArep2"]]
dnacount_rep3 = dnacount[["rsID_UMI","DNArep3"]]
rnacount_rep1 = rnacount[["rsID_UMI","RNArep1"]]
rnacount_rep2 = rnacount[["rsID_UMI","RNArep2"]]
rnacount_rep3 = rnacount[["rsID_UMI","RNArep3"]]

In [22]:
#dnacount_rep1["rep"]= "rep1" added a column with rep1 rep2 or rep3 for identification 
dnacount_rep1.loc[:, 'rep'] = 'rep1'
dnacount_rep2.loc[:, 'rep'] = 'rep2'
dnacount_rep3.loc[:, 'rep'] = 'rep3'
rnacount_rep1.loc[:, 'rep'] = 'rep1'
rnacount_rep2.loc[:, 'rep'] = 'rep2'
rnacount_rep3.loc[:, 'rep'] = 'rep3'

/net/hawkins/vol1/home/arpitm/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/net/hawkins/vol1/home/arpitm/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [23]:
dnacount_rep1.columns= ["rsID_UMI", "count", "rep"]
dnacount_rep2.columns= ["rsID_UMI", "count", "rep"]
dnacount_rep3.columns= ["rsID_UMI", "count", "rep"]
rnacount_rep1.columns= ["rsID_UMI", "count", "rep"]
rnacount_rep2.columns= ["rsID_UMI", "count", "rep"]
rnacount_rep3.columns= ["rsID_UMI", "count", "rep"]

In [25]:
all_dnacount = [dnacount_rep1, dnacount_rep2, dnacount_rep3]
all_rnacount = [rnacount_rep1, rnacount_rep2, rnacount_rep3]

In [26]:
dnacountall = pd.concat(all_dnacount).reset_index(drop=True)
rnacountall = pd.concat(all_rnacount).reset_index(drop=True)

In [28]:
dnacountall.columns = ["rsID_UMI", "count", "batch"]
rnacountall.columns = ["rsID_UMI", "count", "batch"]

In [29]:
dnacountall[["rsID", "barcode"]] = dnacountall.rsID_UMI.str.split(":", expand=True)
rnacountall[["rsID", "barcode"]] = rnacountall.rsID_UMI.str.split(":", expand=True)

In [30]:
dnacountall[["SNP", "allele"]] = dnacountall.rsID.str.split("_", expand=True)
rnacountall[["SNP", "allele"]] = rnacountall.rsID.str.split("_", expand=True)

In [31]:
dnacountall["barcode_rep"] = dnacountall["rsID_UMI"]+","+dnacountall["batch"]
rnacountall["barcode_rep"] = rnacountall["rsID_UMI"]+","+dnacountall["batch"]

In [32]:
dnacountall.head(50)

,rsID_UMI,count,batch,rsID,barcode,SNP,allele,barcode_rep
0,rs10001246_T:AATGATAAGGA,858.0,rep1,rs10001246_T,AATGATAAGGA,rs10001246,T,"rs10001246_T:AATGATAAGGA,rep1"
1,rs10012017_G:AATGATGACTG,3089.0,rep1,rs10012017_G,AATGATGACTG,rs10012017,G,"rs10012017_G:AATGATGACTG,rep1"
2,rs10013453_A:AATGATAGAAC,95.0,rep1,rs10013453_A,AATGATAGAAC,rs10013453,A,"rs10013453_A:AATGATAGAAC,rep1"
3,rs10013453_A:AATGATTCGCG,31.0,rep1,rs10013453_A,AATGATTCGCG,rs10013453,A,"rs10013453_A:AATGATTCGCG,rep1"
4,rs10013453_G:AATGATTCGCG,159.0,rep1,rs10013453_G,AATGATTCGCG,rs10013453,G,"rs10013453_G:AATGATTCGCG,rep1"
5,rs10013453_G:AATGATAGAAC,37.0,rep1,rs10013453_G,AATGATAGAAC,rs10013453,G,"rs10013453_G:AATGATAGAAC,rep1"
6,rs10024216_A:AATGATTGTTC,70.0,rep1,rs10024216_A,AATGATTGTTC,rs10024216,A,"rs10024216_A:AATGATTGTTC,rep1"
7,rs10024216_A:AATGATATCCT,72.0,rep1,rs10024216_A,AATGATATCCT,rs10024216,A,"rs10024216_A:AATGATATCCT,rep1"
8,rs10024216_G:AATGATTGTTC,88.0,rep1,rs10024216_G,AATGATTGTTC,rs10024216,G,"rs10024216_G:AATGATTGTTC,rep1"
9,rs10024216_G:AATGATATCCT,142.0,rep1,rs10024216_G,AATGATATCCT,rs10024216,G,"rs10024216_G:AATGATATCCT,rep1"
10,rs10026978_C:AATGATTACAA,1259.0,rep1,rs10026978_C,AATGATTACAA,rs10026978,C,"rs10026978_C:AATGATTACAA,rep1"
11,rs10026978_C:AATGATCCACA,1671.0,rep1,rs10026978_C,AATGATCCACA,rs10026978,C,"rs10026978_C:AATGATCCACA,rep1"
12,rs10026978_G:AATGATGTAGA,1080.0,rep1,rs10026978_G,AATGATGTAGA,rs10026978,G,"rs10026978_G:AATGATGTAGA,rep1"
13,rs10026978_G:AATGATCCGCA,584.0,rep1,rs10026978_G,AATGATCCGCA,rs10026978,G,"rs10026978_G:AATGATCCGCA,rep1"
14,rs10032644_T:AATGATTCTTC,3138.0,rep1,rs10032644_T,AATGATTCTTC,rs10032644,T,"rs10032644_T:AATGATTCTTC,rep1"
15,rs1003643_G:AATGATCCCAA,1142.0,rep1,rs1003643_G,AATGATCCCAA,rs1003643,G,"rs1003643_G:AATGATCCCAA,rep1"
16,rs1003643_T:AATGATCCCAA,94.0,rep1,rs1003643_T,AATGATCCCAA,rs1003643,T,"rs1003643_T:AATGATCCCAA,rep1"
17,rs10041497_T:AATGATCTCGT,1372.0,rep1,rs10041497_T,AATGATCTCGT,rs10041497,T,"rs10041497_T:AATGATCTCGT,rep1"
18,rs10048897_T:AATGATCTCCA,920.0,rep1,rs10048897_T,AATGATCTCCA,rs10048897,T,"rs10048897_T:AATGATCTCCA,rep1"
19,rs10051765_T:AATGATTTACG,1480.0,rep1,rs10051765_T,AATGATTTACG,rs10051765,T,"rs10051765_T:AATGATTTACG,rep1"
20,rs10055329_T:AATGATACAAC,565.0,rep1,rs10055329_T,AATGATACAAC,rs10055329,T,"rs10055329_T:AATGATACAAC,rep1"
21,rs10056700_T:AATGATCAATT,2839.0,rep1,rs10056700_T,AATGATCAATT,rs10056700,T,"rs10056700_T:AATGATCAATT,rep1"
22,rs10058572_G:AATGATATGAA,522.0,rep1,rs10058572_G,AATGATATGAA,rs10058572,G,"rs10058572_G:AATGATATGAA,rep1"
23,rs10058572_T:AATGATATGAA,18.0,rep1,rs10058572_T,AATGATATGAA,rs10058572,T,"rs10058572_T:AATGATATGAA,rep1"
24,rs10062371_G:AATGATTAGAG,847.0,rep1,rs10062371_G,AATGATTAGAG,rs10062371,G,"rs10062371_G:AATGATTAGAG,rep1"
25,rs10062371_G:AATGATATGAT,55.0,rep1,rs10062371_G,AATGATATGAT,rs10062371,G,"rs10062371_G:AATGATATGAT,rep1"
26,rs10063206_C:AATGATTCACT,1361.0,rep1,rs10063206_C,AATGATTCACT,rs10063206,C,"rs10063206_C:AATGATTCACT,rep1"
27,rs10063206_C:AATGATTCAAC,4637.0,rep1,rs10063206_C,AATGATTCAAC,rs10063206,C,"rs10063206_C:AATGATTCAAC,rep1"
28,rs10063206_T:AATGATTTGTA,1608.0,rep1,rs10063206_T,AATGATTTGTA,rs10063206,T,"rs10063206_T:AATGATTTGTA,rep1"
29,rs10068717_C:AATGATAACCT,246.0,rep1,rs10068717_C,AATGATAACCT,rs10068717,C,"rs10068717_C:AATGATAACCT,rep1"
30,rs10068717_C:AATGATGTCCC,2102.0,rep1,rs10068717_C,AATGATGTCCC,rs10068717,C,"rs10068717_C:AATGATGTCCC,rep1"
31,rs10068717_T:AATGATCCAGC,180.0,rep1,rs10068717_T,AATGATCCAGC,rs10068717,T,"rs10068717_T:AATGATCCAGC,rep1"
32,rs10068717_T:AATGATGTCCC,4472.0,rep1,rs10068717_T,AATGATGTCCC,rs10068717,T,"rs10068717_T:AATGATGTCCC,rep1"
33,rs10069361_G:AATGATAGCAT,20.0,rep1,rs10069361_G,AATGATAGCAT,rs10069361,G,"rs10069361_G:AATGATAGCAT,rep1"
34,rs10076733_T:AATGATCCTTT,2690.0,rep1,rs10076733_T,AATGATCCTTT,rs10076733,T,"rs10076733_T:AATGATCCTTT,rep1"
35,rs10076733_T:AATGATAGGGC,1684.0,rep1,rs10076733_T,AATGATAGGGC,rs10076733,T,"rs10076733_T:AATGATAGGGC,rep1"
36,rs1007707_A:AATGATCGCAA,95.0,rep1,rs1007707_A,AATGATCGCAA,rs1007707,A,"rs1007707_A:AATGATCGCAA,rep1"
37,rs10077945_C:AATGATTTCGG,37.0,rep1,rs10077945_C,AATGATTTCGG,rs10077945,C,"rs10077945_C:AATGATTTCGG,rep1"
38,rs10077945_T:AATGATTACGC,2262.0,rep1,rs10077945_T,AATGATTACGC,rs10077945,T,"rs10077945_T:AATGATTACGC,rep1"
39,rs10079513_C:AATGATGAGTC,75.0,rep1,rs10079513_C,AATGATGAGTC,rs10079513,C,"rs10079513_C:AATGATGAGTC,rep1"
40,rs10079513_C:AATGATCTTAA,19.0,rep1,rs10079513_C,AATGATCTTAA,rs10079513,C,"rs10079513_C:AATGATCTTAA,rep1"
41,rs10079513_T:AATGATGAGTG,622.0,rep1,rs10079513_T,AATGATGAGTG,rs10079513,T,"rs10079513_T:AATGATGAGTG,rep1"
42,rs10079513_T:AATGATCCCGA,154.0,rep1,rs10079513_T,AATGATCCCGA,rs10079513,T,"rs10079513_T:AATGATCCCGA,rep1"
43,rs10079513_T:AATGATCTTAA,178.0,rep1,rs10079513_T,AATGATCTTAA,rs10079513,T,"rs10079513_T:AATGATCTTAA,rep1"
44,rs10079513_T:AATGATAGACT,129.0,rep1,rs10079513_T,AATGATAGACT,rs10079513,T,"rs10079513_T:AATGATAGACT,rep1"
45,rs1008382_G:AATGATAAAGG,361.0,rep1,rs1008382_G,AATGATAAAGG,rs1008382,G,"rs1008382_G:AATGATAAAGG,rep1"
46,rs1008383_C:AATGATGAAAG,2974.0,rep1,rs1008383_C,AATGATGAAAG,rs1008383,C,"rs1008383_C:AATGATGAAAG,rep1"
47,rs1008383_C:AATGATTACGC,1907.0,rep1,rs1008383_C,AATGATTACGC,rs1008383,C,"rs1008383_C:AATGATTACGC,rep1"
48,rs1008383_C:AATGATAAACC,849.0,rep1,rs1008383_C,AATGATAAACC,rs1008383,C,"rs1008383_C:AATGATAAACC,rep1"
49,rs1008383_C:AATGATCTCAA,27.0,rep1,rs1008383_C,AATGATCTCAA,rs1008383,C,"rs1008383_C:AATGATCTCAA,rep1"

In [18]:
rnacountall.head(50)

,rsID_UMI,count,batch,rsID,barcode,SNP,allele,barcode_rep
0,rs10001246_C:AATGATAAGGA,0,rep1,rs10001246_C,AATGATAAGGA,rs10001246,C,"rs10001246_C:AATGATAAGGA,rep1"
1,rs10001246_C:AATGATCAGCA,0,rep1,rs10001246_C,AATGATCAGCA,rs10001246,C,"rs10001246_C:AATGATCAGCA,rep1"
2,rs10001246_C:AATGATCATAA,0,rep1,rs10001246_C,AATGATCATAA,rs10001246,C,"rs10001246_C:AATGATCATAA,rep1"
3,rs10001246_C:AATGATCAGCC,0,rep1,rs10001246_C,AATGATCAGCC,rs10001246,C,"rs10001246_C:AATGATCAGCC,rep1"
4,rs10001246_C:AATGATCAGAA,0,rep1,rs10001246_C,AATGATCAGAA,rs10001246,C,"rs10001246_C:AATGATCAGAA,rep1"
5,rs10001246_C:AATGATAAGCA,0,rep1,rs10001246_C,AATGATAAGCA,rs10001246,C,"rs10001246_C:AATGATAAGCA,rep1"
6,rs10001246_T:AATGATAAGGA,39,rep1,rs10001246_T,AATGATAAGGA,rs10001246,T,"rs10001246_T:AATGATAAGGA,rep1"
7,rs10001246_T:AATGATCAGCA,0,rep1,rs10001246_T,AATGATCAGCA,rs10001246,T,"rs10001246_T:AATGATCAGCA,rep1"
8,rs10001246_T:AATGATCTCCG,0,rep1,rs10001246_T,AATGATCTCCG,rs10001246,T,"rs10001246_T:AATGATCTCCG,rep1"
9,rs10001246_T:AATGATAAGTA,0,rep1,rs10001246_T,AATGATAAGTA,rs10001246,T,"rs10001246_T:AATGATAAGTA,rep1"
10,rs10001246_T:AATGATAATTA,0,rep1,rs10001246_T,AATGATAATTA,rs10001246,T,"rs10001246_T:AATGATAATTA,rep1"
11,rs10012017_G:AATGATGACTG,3048,rep1,rs10012017_G,AATGATGACTG,rs10012017,G,"rs10012017_G:AATGATGACTG,rep1"
12,rs10012017_G:AATGATCGCTG,0,rep1,rs10012017_G,AATGATCGCTG,rs10012017,G,"rs10012017_G:AATGATCGCTG,rep1"
13,rs10012017_G:AATGATGTCTC,0,rep1,rs10012017_G,AATGATGTCTC,rs10012017,G,"rs10012017_G:AATGATGTCTC,rep1"
14,rs10012017_G:AATGATGCCTG,1,rep1,rs10012017_G,AATGATGCCTG,rs10012017,G,"rs10012017_G:AATGATGCCTG,rep1"
15,rs10012017_G:AATGATGTGTG,0,rep1,rs10012017_G,AATGATGTGTG,rs10012017,G,"rs10012017_G:AATGATGTGTG,rep1"
16,rs10012017_G:AATGATCCCAA,0,rep1,rs10012017_G,AATGATCCCAA,rs10012017,G,"rs10012017_G:AATGATCCCAA,rep1"
17,rs10012017_G:AATGATTTCAT,0,rep1,rs10012017_G,AATGATTTCAT,rs10012017,G,"rs10012017_G:AATGATTTCAT,rep1"
18,rs10012017_T:AATGATGACTG,27,rep1,rs10012017_T,AATGATGACTG,rs10012017,T,"rs10012017_T:AATGATGACTG,rep1"
19,rs10012017_T:AATGATCACGG,0,rep1,rs10012017_T,AATGATCACGG,rs10012017,T,"rs10012017_T:AATGATCACGG,rep1"
20,rs10012017_T:AATGATGTATG,0,rep1,rs10012017_T,AATGATGTATG,rs10012017,T,"rs10012017_T:AATGATGTATG,rep1"
21,rs10012017_T:AATGATTAATG,0,rep1,rs10012017_T,AATGATTAATG,rs10012017,T,"rs10012017_T:AATGATTAATG,rep1"
22,rs10013453_A:AATGATAGAAC,239,rep1,rs10013453_A,AATGATAGAAC,rs10013453,A,"rs10013453_A:AATGATAGAAC,rep1"
23,rs10013453_A:AATGATTCGCG,39,rep1,rs10013453_A,AATGATTCGCG,rs10013453,A,"rs10013453_A:AATGATTCGCG,rep1"
24,rs10013453_A:AATGATCACCT,0,rep1,rs10013453_A,AATGATCACCT,rs10013453,A,"rs10013453_A:AATGATCACCT,rep1"
25,rs10013453_A:AATGATATACG,0,rep1,rs10013453_A,AATGATATACG,rs10013453,A,"rs10013453_A:AATGATATACG,rep1"
26,rs10013453_A:AATGATCCCCC,0,rep1,rs10013453_A,AATGATCCCCC,rs10013453,A,"rs10013453_A:AATGATCCCCC,rep1"
27,rs10013453_A:AATGATCGATG,0,rep1,rs10013453_A,AATGATCGATG,rs10013453,A,"rs10013453_A:AATGATCGATG,rep1"
28,rs10013453_A:AATGATACGCG,0,rep1,rs10013453_A,AATGATACGCG,rs10013453,A,"rs10013453_A:AATGATACGCG,rep1"
29,rs10013453_A:AATGATAGTAC,0,rep1,rs10013453_A,AATGATAGTAC,rs10013453,A,"rs10013453_A:AATGATAGTAC,rep1"
30,rs10013453_G:AATGATTCGCG,247,rep1,rs10013453_G,AATGATTCGCG,rs10013453,G,"rs10013453_G:AATGATTCGCG,rep1"
31,rs10013453_G:AATGATAGAAC,1,rep1,rs10013453_G,AATGATAGAAC,rs10013453,G,"rs10013453_G:AATGATAGAAC,rep1"
32,rs10013453_G:AATGATAGTAC,0,rep1,rs10013453_G,AATGATAGTAC,rs10013453,G,"rs10013453_G:AATGATAGTAC,rep1"
33,rs10013453_G:AATGATAGATC,1,rep1,rs10013453_G,AATGATAGATC,rs10013453,G,"rs10013453_G:AATGATAGATC,rep1"
34,rs10013453_G:AATGATCGCGG,0,rep1,rs10013453_G,AATGATCGCGG,rs10013453,G,"rs10013453_G:AATGATCGCGG,rep1"
35,rs10013453_G:AATGATCCGGG,3,rep1,rs10013453_G,AATGATCCGGG,rs10013453,G,"rs10013453_G:AATGATCCGGG,rep1"
36,rs10024216_A:AATGATTGTTC,1308,rep1,rs10024216_A,AATGATTGTTC,rs10024216,A,"rs10024216_A:AATGATTGTTC,rep1"
37,rs10024216_A:AATGATATCCT,177,rep1,rs10024216_A,AATGATATCCT,rs10024216,A,"rs10024216_A:AATGATATCCT,rep1"
38,rs10024216_A:AATGATTTCCA,0,rep1,rs10024216_A,AATGATTTCCA,rs10024216,A,"rs10024216_A:AATGATTTCCA,rep1"
39,rs10024216_A:AATGATTCTAC,1,rep1,rs10024216_A,AATGATTCTAC,rs10024216,A,"rs10024216_A:AATGATTCTAC,rep1"
40,rs10024216_A:AATGATTGATC,0,rep1,rs10024216_A,AATGATTGATC,rs10024216,A,"rs10024216_A:AATGATTGATC,rep1"
41,rs10024216_A:AATGATTGGGC,0,rep1,rs10024216_A,AATGATTGGGC,rs10024216,A,"rs10024216_A:AATGATTGGGC,rep1"
42,rs10024216_A:AATGATAGTCA,0,rep1,rs10024216_A,AATGATAGTCA,rs10024216,A,"rs10024216_A:AATGATAGTCA,rep1"
43,rs10024216_A:AATGATGAACT,0,rep1,rs10024216_A,AATGATGAACT,rs10024216,A,"rs10024216_A:AATGATGAACT,rep1"
44,rs10024216_A:AATGATTAATT,0,rep1,rs10024216_A,AATGATTAATT,rs10024216,A,"rs10024216_A:AATGATTAATT,rep1"
45,rs10024216_A:AATGATAGCCT,1,rep1,rs10024216_A,AATGATAGCCT,rs10024216,A,"rs10024216_A:AATGATAGCCT,rep1"
46,rs10024216_A:AATGATATCGA,0,rep1,rs10024216_A,AATGATATCGA,rs10024216,A,"rs10024216_A:AATGATATCGA,rep1"
47,rs10024216_A:AATGATATGCA,0,rep1,rs10024216_A,AATGATATGCA,rs10024216,A,"rs10024216_A:AATGATATGCA,rep1"
48,rs10024216_A:AATGATGGATC,0,rep1,rs10024216_A,AATGATGGATC,rs10024216,A,"rs10024216_A:AATGATGGATC,rep1"
49,rs10024216_G:AATGATTGTTC,9,rep1,rs10024216_G,AATGATTGTTC,rs10024216,G,"rs10024216_G:AATGATTGTTC,rep1"

In [33]:
dnacountall.columns=["rsID_UMI", "count","batch", "rsID", "UMI", "SNP", "allele", "barcode"]

In [34]:
rnacountall.columns =["rsID_UMI", "count","batch", "rsID", "UMI", "SNP", "allele", "barcode"]

In [35]:
final_dnacount = dnacountall[["SNP", "barcode", "count"]]
final_rnacount = rnacountall[["SNP", "barcode", "count"]]

In [39]:
## final dna counts
fdc_rs = final_dnacount[final_dnacount["SNP"].str.match(r'(^rs*.*)')==True]

In [40]:
## final rnacounts
frc_rs = final_rnacount[final_rnacount["SNP"].str.match(r'(^rs*.*)')==True]

In [41]:
## fdc to pivot table to make matrix 
fdcrs_mat=fdc_rs.pivot_table(columns='barcode', index='SNP', values='count').reset_index()
#fdcrs8_mat=fdc_rs8.pivot_table(columns='barcode', index='SNP', values='count').reset_index()
#fdcrs9_mat=fdc_rs9.pivot_table(columns='barcode', index='SNP', values='count').reset_index()

In [42]:
## frc to pivot table
frcrs_mat=frc_rs.pivot_table(columns="barcode", index="SNP", values = "count").reset_index()
#frcrs8_mat=frc_rs8.pivot_table(columns="barcode", index="SNP", values = "count").reset_index()
#frcrs9_mat=frc_rs9.pivot_table(columns="barcode", index="SNP", values = "count").reset_index()

In [46]:
fdcrs_mat

barcode,SNP,"rs10001246_T:AATGATAAGGA,rep1","rs10001246_T:AATGATAAGGA,rep2","rs10001246_T:AATGATAAGGA,rep3","rs10012017_G:AATGATGACTG,rep1","rs10012017_G:AATGATGACTG,rep2","rs10012017_G:AATGATGACTG,rep3","rs10013453_A:AATGATAGAAC,rep1","rs10013453_A:AATGATAGAAC,rep2","rs10013453_A:AATGATAGAAC,rep3",...,"rs9984852_T:AATGATGTCTC,rep3","rs9989163_A:AATGATTCTCC,rep1","rs9989163_A:AATGATTCTCC,rep2","rs9989163_A:AATGATTCTCC,rep3","rs9989163_G:AATGATACCTC,rep1","rs9989163_G:AATGATACCTC,rep2","rs9989163_G:AATGATACCTC,rep3","rs9989163_G:AATGATTCTCC,rep1","rs9989163_G:AATGATTCTCC,rep2","rs9989163_G:AATGATTCTCC,rep3"
0,rs10001246,858.0,830.0,1237.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,rs10012017,NaN,NaN,NaN,3089.0,2902.0,4141.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,rs10013453,NaN,NaN,NaN,NaN,NaN,NaN,95.0,127.0,164.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,rs10024216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,rs10026978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2921,rs9983695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2922,rs9984108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2923,rs9984849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2924,rs9984852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2453.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2925,rs9989163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1412.0,1124.0,1868.0,2781.0,2363.0,3719.0,13.0,5.0,15.0

In [47]:
fdcrs_mat = fdcrs_mat.fillna(0)
frcrs_mat = frcrs_mat.fillna(0)

In [48]:
#df.pivot_table(columns='barcode', index='rsID', values='count').reset_inde

fdcrs_mat.shape,frcrs_mat.shape

((2926, 23341), (2926, 23341))

In [49]:
#fdc_rs1["rsID","allele","UMI","batch"] =  fdc_rs1["barcode"].str.split( r'_|:|,',expand=True)
fdc_rs_1 = fdc_rs['barcode'].str.extract("(?P<rsID>.*?)_(?P<allele>.*?):(?P<UMI>.*?),(?P<batch>.*)", expand=True)

In [50]:
frc_rs_1 = frc_rs['barcode'].str.extract("(?P<rsID>.*?)_(?P<allele>.*?):(?P<UMI>.*?),(?P<batch>.*)", expand=True)

In [51]:
fdc_rs_a =fdc_rs.join(fdc_rs_1)

In [52]:
frc_rs_a = frc_rs.join(frc_rs_1)

In [53]:
frc_rs_a.shape,fdc_rs_a.shape

((23340, 7), (23340, 7))

In [43]:
#frc_rs5_a.to_csv("rs5_rnacounts.csv")

In [54]:
fdc_rs_a.head()

,SNP,barcode,count,rsID,allele,UMI,batch
0,rs10001246,"rs10001246_T:AATGATAAGGA,rep1",858.0,rs10001246,T,AATGATAAGGA,rep1
1,rs10012017,"rs10012017_G:AATGATGACTG,rep1",3089.0,rs10012017,G,AATGATGACTG,rep1
2,rs10013453,"rs10013453_A:AATGATAGAAC,rep1",95.0,rs10013453,A,AATGATAGAAC,rep1
3,rs10013453,"rs10013453_A:AATGATTCGCG,rep1",31.0,rs10013453,A,AATGATTCGCG,rep1
4,rs10013453,"rs10013453_G:AATGATTCGCG,rep1",159.0,rs10013453,G,AATGATTCGCG,rep1

In [63]:
fdc_rs_a.to_csv("dnacount_dnagrt5.csv", index=False, header=True)

In [64]:
frc_rs_a.to_csv("rnacount_rnagrt1.csv", index=False, header=True)

In [67]:
!pwd

/net/hawkins/vol1/arpit/STARR_seq_fastafiles/STARRseqdata/Th1_Failed_PairedendRUN_18June_2020/catfiles/d2_d3_r2_r3_mergedfastq

In [55]:
colAnnotation_rs = fdc_rs_a[["barcode", "batch", "UMI", "allele"]]

In [56]:
colAnnotation_rs.columns = ["observation", "batch", "barcode", "allele"]

In [57]:
colAnnotation_rs.head()

                     observation batch      barcode allele
0  rs10001246_T:AATGATAAGGA,rep1  rep1  AATGATAAGGA      T
1  rs10012017_G:AATGATGACTG,rep1  rep1  AATGATGACTG      G
2  rs10013453_A:AATGATAGAAC,rep1  rep1  AATGATAGAAC      A
3  rs10013453_A:AATGATTCGCG,rep1  rep1  AATGATTCGCG      A
4  rs10013453_G:AATGATTCGCG,rep1  rep1  AATGATTCGCG      G

In [58]:
fdcrs_mat.head()

barcode,SNP,"rs10001246_T:AATGATAAGGA,rep1","rs10001246_T:AATGATAAGGA,rep2","rs10001246_T:AATGATAAGGA,rep3","rs10012017_G:AATGATGACTG,rep1","rs10012017_G:AATGATGACTG,rep2","rs10012017_G:AATGATGACTG,rep3","rs10013453_A:AATGATAGAAC,rep1","rs10013453_A:AATGATAGAAC,rep2","rs10013453_A:AATGATAGAAC,rep3",...,"rs9984852_T:AATGATGTCTC,rep3","rs9989163_A:AATGATTCTCC,rep1","rs9989163_A:AATGATTCTCC,rep2","rs9989163_A:AATGATTCTCC,rep3","rs9989163_G:AATGATACCTC,rep1","rs9989163_G:AATGATACCTC,rep2","rs9989163_G:AATGATACCTC,rep3","rs9989163_G:AATGATTCTCC,rep1","rs9989163_G:AATGATTCTCC,rep2","rs9989163_G:AATGATTCTCC,rep3"
0,rs10001246,858.0,830.0,1237.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,rs10012017,0.0,0.0,0.0,3089.0,2902.0,4141.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,rs10013453,0.0,0.0,0.0,0.0,0.0,0.0,95.0,127.0,164.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,rs10024216,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,rs10026978,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [59]:
frcrs_mat.head()

barcode,SNP,"rs10001246_T:AATGATAAGGA,rep1","rs10001246_T:AATGATAAGGA,rep2","rs10001246_T:AATGATAAGGA,rep3","rs10012017_G:AATGATGACTG,rep1","rs10012017_G:AATGATGACTG,rep2","rs10012017_G:AATGATGACTG,rep3","rs10013453_A:AATGATAGAAC,rep1","rs10013453_A:AATGATAGAAC,rep2","rs10013453_A:AATGATAGAAC,rep3",...,"rs9984852_T:AATGATGTCTC,rep3","rs9989163_A:AATGATTCTCC,rep1","rs9989163_A:AATGATTCTCC,rep2","rs9989163_A:AATGATTCTCC,rep3","rs9989163_G:AATGATACCTC,rep1","rs9989163_G:AATGATACCTC,rep2","rs9989163_G:AATGATACCTC,rep3","rs9989163_G:AATGATTCTCC,rep1","rs9989163_G:AATGATTCTCC,rep2","rs9989163_G:AATGATTCTCC,rep3"
0,rs10001246,39.0,495.0,1230.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,rs10012017,0.0,0.0,0.0,3048.0,350.0,1950.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,rs10013453,0.0,0.0,0.0,0.0,0.0,0.0,239.0,19.0,138.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,rs10024216,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,rs10026978,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
colAnnotation_rs["observation"] = colAnnotation_rs['observation'].str.replace(',','.')

/net/hawkins/vol1/home/arpitm/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [61]:
colAnnotation_rs.to_csv("colAnnot_rs_dnagrt5_rnagrt1.csv", index=False,header=True)
fdcrs_mat.to_csv("DNACounts_rs_dnagrt5_rnagrt1.csv", index=False, header=True)
frcrs_mat.to_csv("RNACounts_rs_dnagrt5_rnagrt1.csv", index=False, header=True)
#colAnnotation_rs1.to_csv("colAnnot.tsv", sep = "\t")